
/*------- Menu Login DropDown -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* Botão Login */
#loginButton { 
    display:inline-block;
    float:right;
    background:#000000;
    position:relative;
    cursor:pointer;
}

/* Texto do Botão de Login */
#loginButton span {
    color:#ffffff; /*  cor da fonte do login */ 
    font-size:14px; 
    font-weight:bold; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* define qual fonte será usada */
    padding:7px 29px 9px 10px;
    background:url(../img/layout/loginArrow.png) no-repeat 59px 7px;
    display:block
}

#loginButton:hover {
    color:#0066ff; /*  cor da fonte do login */ 
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
}

#loginButton.active span {
    background-position:59px -76px;
	color:#0099ff; /*  cor da fonte do login */ 
}

/* Login Form */
#loginForm {
    width:248px; 
    border:1px solid #000000;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#606060; /* cor da borda de fundo do form */
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Padrão da fonte de entrada */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:14px;
}

/* Botão de Login */
#loginForm #login {
    width:auto;
    float:left;
    background:#606060;
    color:#ffffff;
    padding:7px 10px 8px 10px;
    border:1px solid #000000;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Esqueceu a Senha */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 0px 0;
}

#loginForm span a {
    color:#ffffff;
    text-shadow:1px 1px #909090;
    font-size:14px;
}

input:focus {
    outline:none;
}

/*------- Css Default -------*/

body {
	/* usar apenas para definir uma cor de fundo ==>> background:#ccc; */
	
	background-image: url("../img/layout/background_tiny.jpg"); /* insere uma imagem de background na div */
	background-repeat: no-repeat; /* define a imagem para não repetir */
	background-position: top; /* posição da imagem na div */
}
.bgimg{
	background-image: url("../img/layout/preto.jpg"); /* insere uma imagem de background na div */
	height: 80px; /* define a altura da div */
	width:100%; /* define a largura da div : 100% da tela, ou seja tamanho fixo */
}
.menu_topo{
	background-image: url("../img/layout/preto.jpg"); /* insere uma imagem de background na div */
	height: 80px; /* define a altura da div */
	width: 1000px; /* define a largura da div */
	margin: 0 auto; /* faz com que a barra preta do menu superior fique centralizada dentro da div */
	margin-top:-20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* define qual fonte será usada */
	font-size: 14px; /* tamanho da fonte do menu superior direito */
}
.topmenu {
	margin-top:11px; /* distancia até o topo da página (alinhamento) */
	display: inline-block; /* posiciona as divs do menu do topo lado a lado */
	vertical-align: middle; /* alinhamento vertical no meio */
}
.linkhome {
	vertical-align: middle; /* alinhamento vertical no meio */
   	display: inline-block; /* posiciona as divs do link para a home lado a lado */
}
#minilogo{
	width:600px; /* define o tamanho da div referente a minilogo + link para home */
}
#cadastro{
	width:120px; /* define o tamanho da div do menu contato */
}
#sobre{
	width:120px; /* define o tamanho da div do menu sobre */
}
.body {
	text-align:center; /* hack para o IE */
	width: 1000px; /* define a largura da página (centralizada com 1000px) */
	margin:0 auto; /* posiciona o conteudo da section body ao centro dela */
	text-align:left; /* "remédio" para o hack do IE */
}
.index{
	color:#ffffff; /* define a cor do texto dentro da index */
}
#index{
	display: inline-block; /* mostra as divs dos botões alinhadas lado a lado */
}
#fonte {
	font-size: 16px; /* tamanho da fonte da mensagem de chamada dos botões */
	line-height: 26px; /* espaçamento vertical entre as linhas dessa div */
}
.form{
	text-align:center; /* hack para o IE */
	margin: 0 auto;
}
#text{
	margin-top:70px;
	font-size:18px;
}
.left{
	float:left;
	width:330px;
}
.center{
	width:330px;
}
.right{
	float:right;
	width:330px;
}