body {
	/* usar apenas para definir uma cor de fundo ==>> background:#ccc; */
	
	background-image: url("../img/layout/background.jpg"); /* insere uma imagem de background na div */
	background-repeat: no-repeat; /* define a imagem para não repetir */
	background-position: top; /* posição da imagem na div */
}
.bgimg{
	background-image: url("../img/layout/preto.jpg"); /* insere uma imagem de background na div */
	height: 80px; /* define a altura da div */
	width:100%; /* define a largura da div : 100% da tela, ou seja tamanho fixo */
}
.menu_topo{
	background-image: url("../img/layout/preto.jpg"); /* insere uma imagem de background na div */
	height: 80px; /* define a altura da div */
	width: 1000px; /* define a largura da div */
	margin: 0 auto; /* faz com que a barra preta do menu superior fique centralizada dentro da div */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* define qual fonte será usada */
	font-size: 14px; /* tamanho da fonte do menu superior direito */
}
.topmenu {
	margin-top:11px; /* distancia até o topo da página (alinhamento) */
	display: inline-block; /* posiciona as divs do menu do topo lado a lado */
	vertical-align: middle; /* alinhamento vertical no meio */
}
.linkhome {
	vertical-align: middle; /* alinhamento vertical no meio */
   	display: inline-block; /* posiciona as divs do link para a home lado a lado */
}
#minilogo{
	width:600px; /* define o tamanho da div referente a minilogo + link para home */
}
#cadastro{
	width:120px; /* define o tamanho da div do menu contato */
}
#sobre{
	width:120px; /* define o tamanho da div do menu sobre */
}
.body {
	text-align:center; /* hack para o IE */
	width: 1000px; /* define a largura da página (centralizada com 1000px) */
	margin:0 auto; /* posiciona o conteudo da section body ao centro dela */
	text-align:left; /* "remédio" para o hack do IE */
}
.index{
	color:#ffffff; /* define a cor do texto dentro da index */
}
#index{
	display: inline-block; /* mostra as divs dos botões alinhadas lado a lado */
}
.slogan_redirect {
	vertical-align:top;
	position:relative; /* tipo de posicionamento */
	width:508px; /* largura da div do slogam */
	/*height:160px; definir tamanho apenas se for inserir mais texto*/
	margin-top:80px; /* espaçamento com o topo da página */
}
#italic{
	font-style: italic; /* estilo italico para a fonte */
}
#big_button{
	width:240px;
	height:70px;
}
#fonte {
	font-size: 16px; /* tamanho da fonte da mensagem de chamada dos botões */
	line-height: 26px; /* espaçamento vertical entre as linhas dessa div */
}
.botoes{
    display: inline-block; /* mostra as divs dos botões alinhadas lado a lado */
	margin-top:100px;
	height:80px; /* define a altura da div em que estão os botoes */
}
#btnalign{
	width:260px; /* define o tamanho da div que o primeiro botão ocupa (alinhamento) */
}
.appshow {
	background-image: url("../img/layout/celular.png");
	margin-top: 92px;
	height: 529px;
	width:431px;
}
#logoonapp{
	width:150px;
	margin-top:150px;
	margin-left:180px;
}
#txtonapp{
	margin-top:20px;
	margin-left:180px;
}